<p id="notice"><%= notice %></p>
<div class="container">
<%= render 'header' %>
<div class="span3">
	<%= render 'customer_info' %>
</div>

<div class"span10">

	<%= display_orders(@customer) %>
</div>
<%= render 'foot' %>
</div>


